body{
    font-family: 'Lato', sans-serif !important;
}

.container-padre{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 330px auto;
}

.container-iframe iframe{
    width: 100%;
    height: 100%;
}

.container-widgets{
    display: flex;
    flex-direction: column;
    background: #333333;
    padding: 30px 15px
}

.title{
    text-align: center;
}

.title img{
    max-width: 90%;
    margin-bottom: 10px;
}

.widgets {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.widget-time , .widget-weather, .widget-imagen{
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    height: 300px;
}

.widget-time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-imagen .imagen{
    height: 160px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.widget-imagen .imagen img{
    width: 100%;
    height: 100%;
}

.widget-imagen .contenido{
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.widget-imagen .contenido h3{
    font-weight: 700;
    color: #3d3d3d;
}

.widget-imagen .contenido p{
    font-weight: 500;
    color: #656565;
}

.widget-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.widget-weather .min-max{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.widget-weather .min-max p{
    font-size: 24px;
    font-weight: 500;
    color: #656565;
}

.widget-weather .temp{
    font-size: 70px;
    font-weight: 900;
    color: #3d3d3d;
}

.widget-weather .name{
    color: #3d3d3d;
    font-weight: 900;
}

.widget-weather .temp-icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 15px 0;
}

.widget-weather .temp-icon p{
    margin: 0;
}

/* Slider---- */
.slider2{
    background-color: darkgoldenrod;
}

.slider3{
    background-color: crimson;
}

.carousel-indicators{
    margin-bottom: 4px !important;
}

.carousel-indicators [data-bs-target]{
    background-color: #141414 !important;
}

/* .carousel-control-prev-icon{
    background-image: url(./aseets/prev.svg) !important;
}

.carousel-control-next-icon{
    background-image: url(./aseets/next.svg) !important;
} */